<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-NFJ5sQY5J1Oz5H8YHVGDbYZGNHyJVRk</string>
	<key>GCM_SENDER_ID</key>
	<string>445520541766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emailLoginLogout</string>
	<key>PROJECT_ID</key>
	<string>auth-email-681fb</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-email-681fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445520541766:ios:d5c02d23704db061483247</string>
</dict>
</plist>